* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #292929;
  font-family: 'calibri';

}

header {
  background: #03A9F4;
  width: 100%;
  clear: both;
  content:'';
  display: table;
}

.menu {
  width: 900px;
  margin: auto;
}



nav {
  float: center;
}

nav ul li {
  list-style: none;
  margin-left: 75px;
  padding: 12px 0;
  float: left;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;

}

nav ul li a::before {
  display: block;
  content: '';
  width: 0%;
  background: #444;
  height: 5px;
  top:0;
  position: absolute;
  transition: width 0.2s;
}

nav ul li a:hover::before {
  width: 100%;
}
  
  section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  
  section h2{
    width: 100%;
    color: #999;
    font-family: monospace;
    letter-spacing: .2em;
  }
  
  section p{
      width: 100%;
      color: rgb(255, 255, 255);
      font-family: 'calibri';
      justify-content: center;
      font-size: 16px;
      margin-left: 5px;
    }
  .card{
    width: 33.333333%;
  }
  
  
  /* Estilo B */
  .estilo-b{
    font-family: sans-serif;
    text-align: center;
  }
  .estilo-b .img-container{
    overflow: hidden;
    position: relative;
  }
  .estilo-b .img-container img{
    width: 98%;
  }
  .estilo-b .img-container .price{
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 25px;
    background:rgb(248, 245, 245);
    padding: 15px;
    font-family:'calibri' ;
    letter-spacing: .2em;
  }
  .estilo-b .img-container .favorite{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  .estilo-b .img-container .favorite svg{
    transform: translatey(14px);
  }
  .estilo-b .img-container .favorite:hover{
    background: red;
  }
  .estilo-b .img-container .favorite:hover svg{
    fill: white;
   
  }
  .estilo-b a{
    height: 40px;
    width: 156px;
    border-radius: 40px;
    font-family: 'calibri';
    text-transform: uppercase;
    color: gray;
    text-align: center;
    line-height: 10px;
    background: #ffffff;
    cursor: pointer;
  
  }
  .estilo-b a:hover{
    color: white;
    background-color: transparent;
    border: 0px solid black;
    
  }
  
  
  .estilo-b a{
      display: inline-block;
      margin-top: 5px;
      text-decoration: none;
      background-color: black;
      padding: 15px;
      border: 1px solid rgb(255, 255, 255);
      font-family: 'calibri';
      height: 54px;
      width: 166px;
      color: white;
      text-align: center;
      line-height: 10px;
      cursor: pointer;
  
    }


    